<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="errorFile" fileName="${basedir}/logs/error.log" layout="${longdate}|${level}|${message}|${exception:format=tostring}" />
		<target xsi:type="File" name="infoFile" fileName="${basedir}/logs/info.log" layout="${longdate}|${level}|${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="errorFile" />
		<logger name="*" minlevel="Info" writeTo="infoFile" />
	</rules>
</nlog>